body {
    overflow-x: hidden;
}

.container {
    display: inline-block;
    width: 100wv;
    background-color: #394892;
}

.top {
    display: inline-block;
    height: 25%;
    width: 100%;
}

.menu {
    display: inline-block;
    margin: 0;
    margin-left: 50%;
}

.menu li {
    display: inline-block;
}

.middle {
    display: inline-block;
    height: 50%;
    width: 100%;
    background-color: #f0afaf;
    font-size: 0;
}

.left {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    width: 25%;
    height: 85vh;
}

.center {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    width: 50%;
    height: 85vh;
    overflow: auto;
}

.right {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    width: 25%;
    height: 85vh;
    overflow: auto;
}

.right-top{
    display: inline-block;
    box-sizing: border-box;
    padding-top: 3%;
    width: 100%;
    height: 85%;
}

.right-bottom {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
}

.bottom {
    height: 25%;
    width: 100%;
}

.menu_img {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: 100%;
    position: relative;
}

h1 {
    margin-bottom: 0;
}

h2 {
    margin:0;
    margin: 3%;
    margin-left:15%;
    display: inline-block;
    vertical-align: right;
}
